<template>
    <b-row>
        <b-col lg="10" offset-lg="1" class="text-center text-white p-0">
            <ul class="list-inline mt-2">
                <li class="list-inline-item">
                    <small>created by <b-link class="text-light" href="https://gitlab.com/eugenekyselev" target="_blank">@eugenekyselev</b-link></small>
                </li>
                <li class="list-inline-item">
                    <small>
                        GitHub:
                        <b-link class="text-light" href="https://gitlab.com/eugenekyselev/erc20-generator" target="_blank">Smart Contracts</b-link> -
                        <b-link class="text-light" href="https://gitlab.com/eugenekyselev/erc20-generator/tree/dapp" target="_blank">DApp</b-link>
                    </small>
                </li>
            </ul>
        </b-col>
    </b-row>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>

</style>
